/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-Light.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-Regular.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-SemiBold.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v18-latin-700.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-Bold.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-Bold.woff') format('woff'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@keyframes zoom{
  0%{
   transform: scale(1);
  }

  100%{
    transform: scale(1.2);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --HeaderFooter-color: #000000;
  --HeaderFooter-textColor: #ffffff;
  --select-color: #7943A4;
  --hover-color: #C283F3;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

.visually-hidden {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
}

.menu-wrap__link{
  padding: 2px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  font-weight: 600;
  transition: color 0.4s ease;
}

.menu-wrap__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.menu-wrap__link:hover{
  color: var(--hover-color);
}

.menu-wrap__link:active{
  color: var(--select-color)
}

.account-wrap__link{
  position: relative;
  padding-left: 25px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  font-weight: 600;
  transition: color 0.4s ease;
}

.account-wrap__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.account-wrap__link::before{
  position: absolute;
  left: 6px;
  width: 15px;
  height: 15px;
  transition: filter 0.4s ease;
}

.account-wrap__link:hover{
  color: var(--hover-color);
}

.account-wrap__link:hover::before{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.account-wrap__link:active{
  color: var(--select-color);
}

.account-wrap__link:active::before{
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.header{
  position: absolute;
  z-index: 2;
  width: 100%;
}

.swiper-slide-custom{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide-custom.swiper-slide-active{
  animation: zoom alternate 5s linear infinite;
}

.slider__slide-one{
  background-image: url('../image/slider_one.png');
}

.slider__slide-two{
  background-image: url('../image/slider_two.png');
}

.slider__slide-three{
  background-image: url('../image/slider_three.png');
}

.slider__block-text__title{
  margin-bottom: 20px;
  font-size: 75px;
  letter-spacing: -2px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
}

.slider__block-text__text{
  margin-bottom: 97px;
  line-height: 27px;
  font-size: 19px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
}

.slider__block-text__link{
  position: relative;
  display: inline-block;
  padding: 22px 35px;
  font-size: 18px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
  background-color: #9D5CD0;
  border-radius: 100px;
  border: 3px solid transparent;
  transition: border 0.4s ease;
  outline: none;
}

.slider__block-text__link:before{
  opacity: 0;
  position: absolute;
  content: '';
  box-sizing: unset;
  left: -7px;
  top: -7px;
  width: 100%;
  height: 100%;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 4px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.slider__block-text__link:focus:before{
  opacity: 1;
}

.slider__block-text__link:hover{
  border: 3px solid #D1A9F0;
}

.slider__block-text{
  position: relative;
  z-index: 2;
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 240px auto 0;
  box-sizing: content-box;
}

.slider__block-text__wrap{
  max-width: 597px;
}

.swiper-wrapper{
  position: absolute;
}

.slider1{
  min-height: 800px;
}

.swiper-slide-custom{
  min-height: 800px;
}

.category-menu__link{
  position: relative;
  padding-right: 18px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  transition: color 0.4s ease;
}

.category-menu__link:focus{
  border: 2px solid var(--select-color);
  outline: none;
}

.category-menu__link:hover{
  color: var(--hover-color);
}

.category-menu__link:hover::after{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.category-menu__link:active::after{
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.category-menu__link:active{
  color: var(--select-color);
}

.top{
  background-color: var(--HeaderFooter-color);
}

.top-wrap{
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__link{
  display: block;
  padding: 2px;
  border: 2px solid transparent 
}

.logo__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.bottom{
  background-color: rgba(0, 0, 0, 0.4);
}

.bottom-wrap{
  display: flex;
  max-width: 1600px;
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 13px;
}

.menu-wrap{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.category-menu{
  display: flex;
  flex-wrap: wrap;
  max-width: 1070px;
}

.menu-wrap__element{
  margin-right: 58px;
}

.menu-wrap__element:last-child{
  margin-right: 0;
}

.logo{
  margin-right: 170px;
}

.account{
  margin-left: auto;
}

.category-menu__item{
  position: relative;
  margin-right: 100px;
}

.category-menu__item:last-child{
  margin-right: 0;
}

.search{
  position: relative;
  display: flex;
  width: 250px;
  margin-left: auto;
  align-items: end;
}

.search__fill{
  transition: fill 0.4s ease;
}

.search:hover .search__fill{
  fill: var(--hover-color);
}

.search:hover::before{
  background-color: var(--hover-color);
} 

.account-entry::before{
  content: url(../image/entry.svg);
}

.category-menu__link::after{
  content: url('../image/arrow.svg');
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  transition: filter 0.4s ease, transform 0.4s ease;
}

.category-menu__link.category-menu__link_active::after{
  transform: rotate(180deg) translateY(-60%);
}

.search__button{
  padding: 3px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.search__button:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.search__text{
  position: relative;
  width: 222px;
  padding-bottom: 5px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--HeaderFooter-textColor);
  border: 2px solid transparent;
}

.search::before{
  content: '';
  position: absolute;
  bottom: 8px;
  left: 38px;
  height: 2px;
  width: 212px;
  background-color: #ffffff;
  transition: background-color 0.4s ease;
}

.search__text:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.search__text::placeholder{
  font-size: 18px;
  color: var(--HeaderFooter-textColor);
}

.drop-menu{
  position: absolute;
  bottom: 0;
  transform: translateY(108.5%) translateX(-2000px);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  min-width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
}

.drop-menu__wrap{
  height: 220px;
}

.swip-wrap_mob{
  display: none;
}

.drop-menu__link{
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 10px;
  color: var(--HeaderFooter-textColor);
  font-size: 14px;
  border: 2px solid transparent;
  transition: border 0.4s ease;
}

.catalog__list-wrap{
  display: none;
}

.catalog__list_active{
  display: block;
}

.catalog__title{
  margin-right: 28px;
  font-weight: normal;
  font-size: 48px;
  color: #333333;
}

.catalog__button-wrap{
  margin-right: 30px;
}

.catalog__button-wrap:last-child{
  margin-right: 0px;
}

.catalog__buttons{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
}

.catalog__button{
  background-color: transparent;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  border-color: transparent;
  cursor: pointer;
}

.catalog__button:hover{
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__button-img{
  width: 46px;
  height: 46px;
}

.catalog__button_active{
  border-color: #9D5CD0;
}

.catalog__title-text{
  margin-bottom: 40px;
  padding-top: 10px;
  display: flex;
  flex-basis: 66%;
  color: #333333;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.catalog__title-wrap{
  display: flex;
  flex-wrap: wrap;
  padding-top: 87px;
  padding-bottom: 85px;
}

.catalog__content-wrap{
  display: flex;
}

.catalog__content{
  margin-right: 3%;
  width: 47%;
}

.event__list-mob{
  display: none;
}

.event__element{
  display: flex;
  flex-direction: column;
  border: 1px solid #333333;
  width: 31.3%;
  min-height: 700px;
  margin-right: 3%;
  margin-bottom: 3%;
}

.event__element:not(:nth-child(-n+3)){
  display: none;
}

.event__element_show{
  display: flex;
}

.event__img{
  max-width: 500px;
  width: 100%;
}

.event__list{
  display: flex;
  flex-wrap: wrap;
}

.event__container__date{
  width: 97%;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.event__container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 400px;
  border-top: none;
  padding-left: 10%;
  max-width: 500px;
  height: 100%;
  padding-top: 10px;
}

.event{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 85px;
}

.event__container__text{
  width: 90%;
  line-height: 32px;
  color: #333333;
}

.event__container__link{
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  margin-top: auto;
  margin-bottom: 10%;
}

.event__button{
  display: block;
  margin: 0 auto;
  border: 2px solid #9D5CD0;
  font-size: 18px;
  background-color: transparent;
  font-weight: bold;
  color: #9D5CD0;
  border-radius: 100px;
  padding: 16px 37px;
}

.event__button:hover{
  background-color: #9D5CD0;
  color: #ffffff;
}

.event__button:active{
  background-color: #7943A4;
  border-color: #D1A9F0;
}

.event__element:nth-child(3n){
  margin-right: 0;
}

.event__container__title{
  margin-bottom: 3px;
  width: 90%;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.event__title{
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333
}

.catalog__lists{
  width: 50%;
}

.catalog__img{
  max-width: 750px;
  width: 100%;
  margin-bottom: 30px;
}

.catalog__content-title{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0.3px;
}

.catalog__age{
  margin-bottom: 10px;
  font-size: 12px;
  color: #999999;
}

.catalog__list-view{
  display: flex;
  padding-top: 30px;
  padding-bottom: 27px;
  flex-direction: column;
  max-height: 300px;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.catalog__element{
  margin-top: -1px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.catalog__text{
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__accordion .ui-accordion-header{
	position: relative;
}
.catalog__accordion .ui-accordion-header-icon{
	content: '';
	position: absolute;
  top: 30px;
  right: 0;  
	display: inline-block;
	width: 50px;
	height: 50px;    
  border-radius: 50%;
	background: url('../image/down.svg') 50% 50% no-repeat;
  background-color: #ECECEC;
}
.catalog__accordion .ui-accordion-header-active .ui-accordion-header-icon{
	background-image: url('../image/up.svg');
  background-color: #7943A4;
}

.catalog__accordion .ui-accordion-header:hover .ui-accordion-header-icon{
  background-color: #7943A4;
}

.catalog{
  padding-left: 50px;
  padding-right: 50px;
}

.accordion-header{
  padding-top: 40px;
  padding-bottom: 45px;
  margin-bottom: -1px;
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  border-bottom: 1px solid #CACACA;
  cursor: pointer;
}

.catalog__link{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.catalog__link-active{
  color: #9D5CD0;
  font-weight: 600;
}

.editions__title{
  font-weight: normal;
  margin-bottom: 28px;
  font-size: 48px;
  color: #FFFFFF;
}

.editions__subtitle{
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.editions{
  padding-left: 50px;
  padding-right: 50px;
  background-image: url('../image/birmingham.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.editions__name-filter{
  position: relative;
  padding-left: 24px;
  color: #FFFFFF;
}

.editions__name-filter:before{
  content: '';
  left: 0;
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
}

.editions__name-filter:after{
  position: absolute;
  content: '';
  display: none;
  left: 3px;
  top: 6px;
  width: 5px;
  height: 5px;
  background-color: #C283F3;
  border-radius: 50%;
}

.editions__element{
  margin-bottom: 14px;
}

.editions__group-filter{
  cursor: pointer;
}

.editions__price{
  color: #FFFFFF;
  margin-bottom: 15px;
  font-weight: bold;
}

.editions__list{
  margin-bottom: 40px;
}

.editions__input-filter{
  opacity: 0;
  position: absolute;
}

.editions__input-filter:checked + .editions__name-filter:after{
  display: inline-block;
}

.editions__input-filter:checked + .editions__name-filter:before{
  border-color: #C283F3;
}

.editions__input-filter:checked + .editions__name-filter{
  color: #C283F3;
}

.editions__price-text{
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 3px;
}

.editions__praice-range{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  width: max-content;
}

.editions__price-value{
  background-color: rgba(157, 92, 208, 0.5);
  color:#ffffff;
  min-height: 37px;
  padding-left: 13px;
  width: 73px;
  border: none;
}

.catalog__link:hover{
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog__element:hover{
  border-bottom-color: #9D5CD0;
}

.drop-menu__link:active + .drop-menu__img{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.drop-menu__link:hover{
  border: 2px solid var(--hover-color);
}

.category-menu__link_active + .drop-menu{
  transform: translateY(108.5%) translateX(0);
}

.drop-menu__item{
  position: relative;
  max-width: 220px;
  margin-bottom: 20px;
}

.drop-menu__item:last-child{
  margin-bottom: 0;
}

.simplebar-scrollbar::before{
  background-color: #ffffff;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity: 1;
}

.simplebar-vertical{
  background-color: #000000;
}

.simplebar-track.simplebar-vertical{
  width: 2px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
  width: 2px;
}

.simplebar-scrollbar:before {
  left: 0px;
  opacity: 1;
}

.drop-menu__img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.line-burger{
  display: block;
  height: 3px;
  margin-bottom: 9px;
  background-color: #ffffff;
}

.line-burger:nth-child(1){
  width: 36px;
}

.line-burger:nth-child(2){
  width: 28px;
}

.line-burger:nth-child(3){
  width: 24px;
  margin-bottom: 0;;
}

.menu-button-mob{
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.search-mob{
  display: none;
}

.menu-container{
  display: flex;
  width: 100%;
}

.menu-close-mob{
  display: none;
}

.container-wrap{
  max-width: 1600px;
  margin: 0 auto;
}

.slider5{
  height: 150px;
  max-width: 1450px;
}

.editions__slider{
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.order{
  flex-direction: column;
  align-items: center;
  color: green;
}

.projact-part__img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.projact-part{
  position: relative;
}

.swiper5-wrap{
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.projact-part__title{
  font-size: 24px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 25px;
}

.projact-prev,
.projact-next{
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #ECECEC;
  border-radius: 100%;
  top: 50%;
}

.projact-prev:hover,
.projact-next:hover{
  color: #ffffff;
  background-color: #9D5CD0;
}

.projact-prev{
  left: 0;
}

.projact-next{
  right: 0;
}

.projact-prev::after,
.projact-next::after{
  font-size: 13px;
}

.projact-part__img:hover{
  filter: grayscale(0);
  cursor: pointer;
}

.editions__wrap{
  display: flex;
  padding-top: 85px;
  padding-bottom: 20px;
}

.editions__content__title{
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editions__content__subtitle{
  margin-bottom: 17px;
  color: #FFFFFF;
}

.editions__content__button{
  padding: 8px 25px;
  background-color: transparent;
  font-weight: bold;
  color: #FFFFFF;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.editions__content{
  display: flex;
  flex-wrap: wrap;
  padding-right: 7px;
  padding-top: 25px;
}

.editions__content__price{
  margin-left: auto;
  font-style: italic;
  color: #FFFFFF;
}

.about__title{
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 400;
}

.about__text{
  max-width: 1085px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

.about{
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 85px;
  padding-bottom: 70px;
}

.gallery{
  background-image: url('../image/gallery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 993px;
}

.slider2{
  width: 100%;
  min-height: 827px;
  margin-left: auto;
  margin-right: auto;
}

.slider4{
  height: 600px;
  padding-top: 30px;
  left: -2px;
}

.swiper2-slide-custom{
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.swiper-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tippy-box[data-theme~='center-align'] {
  text-align: center;
  color: #ffffff;
  background-color: #9D5CD0;
}

.tippy-box[data-theme~='center-align'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}

.tippy-box[data-theme~='center-align'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}

.tippy-box[data-theme~='center-align'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}

.tippy-box[data-theme~='center-align'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.gallery__slider{
  width: 1150px;
}

.gallery-wrap{
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
}

.choices{
  width: 400px;
}

.gallery__filter-title{
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  color: var(--HeaderFooter-textColor);
}

.gallery__filter-about{
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  color: var(--HeaderFooter-textColor);
}

.gallery__bottom__text{
  line-height: 32px;
  color: var(--HeaderFooter-textColor);
}

.gallery__filter{
  display: flex;
  margin-right: 10px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
}

.choices__inner{
  border-radius: 6px;
  background-color: transparent;
}

.choices__placeholder{
  color: var(--HeaderFooter-textColor);
  opacity: 1;
}

.choices[data-type*=select-one]:after{
  content: url('../image/arrow-selector.svg');
  border: none;
  right: 22.5px;
  top: 36%;
  height: 16px;
  width: 16px;
}

.choices[data-type*=select-one].is-open:after{
  margin-top: -2.5px;
  transform: rotate(180deg);
}

.choices__list--dropdown{
  background-color: transparent;
}

.choices__item{
  color: var(--HeaderFooter-textColor);
}

.is-open .choices__item{
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: transparent;
}

.gall-prev::after{
  font-family: none;
}

.gall-prev::after{
  font-family: none;
}

.gall-prev{
  position: relative;
  content: url('../image/arrow-gall.svg');
  width: 30px;
  height: 30px;
}

.gall-next{
  position: relative;
  content: url('../image/arrow-gall.svg');
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
}

.gall-prev:hover{
  content: url('../image/arrow-gall-hover.svg');
  transform: rotate(180deg);
}

.gall-next:hover{
  content: url('../image/arrow-gall-hover.svg');
  transform: rotate(0);
}

.gall-pag{
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: end;
  width: 100px;
  position: relative;
  bottom: 0;
  color: #ffffff;
}

.swip-wrap{
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
  height: 55px;
  padding-top: 20px;
}

.gallery__filter-bottom{
  width: 360px;
}

.swiper2-slide-custom::after{
  position: absolute;
  display: block;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../image/loop-gall.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.swiper2-slide-custom::before{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4)
}

.swiper2-slide-custom:hover::after{
  content: '';
}

.swiper2-slide-custom:active::before{
  content: '';
}

.gallery__hide-content{
  display: none;
}

.modal-content .gallery__hide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__hide-content__title{
  margin-bottom: 20px;
}

.gallery__hide-content__subtitle{
  margin-bottom: 20px;
}

.modal-content{
  display: flex;
}

.modal-content .swiper-img{
  margin-right: 20px;
}

.gallery__filter-bottomMob{
  display: none;
}

.is-selected{
  display: none;
}

.editions__swiper-img{
  object-fit: cover;
  width: 100%;
}

.editions__filter{
  width: 277px;
}

.editions__price-text:last-child{
  padding-right: 5px;
}

.editions__prev{
  position: inherit;
  margin: 0;
  background-color: #666666;
  border-radius: 100%;
  content: "";
}

.editions__next{
  position: inherit;
  margin: 0;
  content: "";
  border-radius: 100%;
  background-color: #666666;
  transform: unset;
}

.editions__prev:hover{
  content: "";
  transform: unset;
  background-color: #9D5CD0;
}

.editions__next:hover{
  background-color: #9D5CD0;
}

.editions__prev::after{
  font-family: swiper-icons;
  font-size: 15px;
  color: #ffffff;
}

.editions__next::after{
  font-size: 15px;
  color: #ffffff;
}

.editions__next:hover{
  content: "";
}

.editions__pag{
  position: inherit;
  margin: 0;
  align-self: auto;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.edit-wrap{
  height: auto;
  padding-top: 30px;
  margin-bottom: 0;
  align-items: center;
}

.editions__content__price-mob{
  display: none;
}

.editions__content__button{
  cursor: pointer;
}

.editions__content__button:hover{
  background-color: #9D5CD0;
}

.editions__content__button:active{
  background-color: #7943A4;
  border-color: #D1A9F0;
}

.tooltip{
  position: relative;
}

.tooltip__content{
  display: none;
  position: absolute;
  opacity: 0;
  background-color: #CACACA;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  width: 264px;
  max-width: max-content;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: calc(0px - 250%);
  padding: 7px 11px 19px;
  line-height: 15px;
}

.projact__link{
  color: #9D5CD0;
}

.tooltip__btn{
  z-index: 5;
  font-size: 12px;
  background-color: inherit;
  border: 1px solid #9D5CD0;
  display: inline-block;
  color: #9D5CD0;
  border-radius: 100%;
  width: 15px;
  cursor: pointer;
}

.tooltip__btn:hover{
  color: #ffffff;
  background-color: #9D5CD0;
}

.tooltip__btn:focus{
  color: #ffffff;
  background-color: #9D5CD0;
}

.tooltip__content::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 12px solid transparent;
  border-top: 10px solid #CACACA;;
}

.tooltip__btn:hover + .tooltip__content{
  display: inline;
  opacity: 1;
}

.tooltip__btn:focus + .tooltip__content{
  display: inline;
  opacity: 1;
}

.projact__title{
  padding-top: 83px;
  color: #333333;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 18px;
}

.projact__text{
  line-height: 32px;
  max-width: 1060px;
  margin-bottom: 24px;
}

.projact{
  margin-bottom: 87px;
  padding-left: 50px;
  padding-right: 55px;
}

[class*="ground-pane"]{
  filter: grayscale(1);
}

.contacts__form{
  padding-top: 127px;
  background-color: #ffffff;
  height: 700px;
  width: 33%;
}

.contacts{
  padding-left: 50px;
}

.contacts__contant{
  position: relative;
}

.contacts__wrap{
  max-width: 1600px;
  margin: 0 auto
}

.contacts__map{
  width: 65%;
  min-height: 694px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1px;
  z-index: 2;
  border-left: 1px solid #cacaca;
}

.contacts__title{
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 20px;
  color: #333333;
}

.contacts__name{
  color: #333333;
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 600;
}

.contacts__address{
  font-weight: 400;
}

.contacts-request__title{
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 19px;
  color: #333333;
}

.contacts-request{
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  padding-top: 37px;
}

.contacts-request__input{
  border-radius: 100px;
  max-width: 400px;
  padding-top: 8px;
  padding-left: 22px;
  margin-bottom: 25px;
  border: 1px solid #333333;
  padding-bottom: 8px;
}

.contacts-request__buttom{
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  color: #9D5CD0;
  cursor: pointer;
  max-width: 157px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contacts-request__buttom:hover{
  background-color: #9D5CD0;
  color: #ffffff;
}

.contacts-request__buttom:active{
  color: #ffffff;
  background-color: #7943A4;
}

.swiper-pagination-bullet-active{
  background-color: #666666;
}

.contacts__soc-title{
  font-weight: normal;
  font-size: 24px;
  color: #333333;
  margin-bottom: 16px;
}

.contacts__soc-list{
  display: flex;
}

.contacts__soc-link{
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.contacts__soc-link-wa{
  background-image: url("../image/whatsapp-Icon.svg");
}

.contacts__soc-link-tg{
  background-image: url("../image/tg-Icon.svg");
}

.contacts__soc-element{
  margin-right: 18px;
}

.contacts__soc-element:last-child{
  margin-right: 0;
}

.footer{
  background-color: #000000;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer__soc-element{
  margin-right: 20px;
}

.footer__soc-element:last-child{
  margin-right: 0;
}

.footer__soc-link{
  width: 45px;
  height: 45px;
  display: block;
}

.footer__soc-vk{
  background-image: url("../image/soc-vk.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__soc-inst{
  background-image: url("../image/soc-inst.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__soc-fb{
  background-image: url("../image/soc-fb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__soc-list{
  display: flex;
}

.container-footer{
  display: flex;
  justify-content: space-between;
}

.contacts_map{
  width: 100%; 
  height: 700px
}

@media screen and (max-width: 1500px){
  .footer .logo{
    position: relative;
    left: 0;
    transform: translateX(0);
  }
  .contacts__form{
    width: 35%;
  }

  .contacts__map{
    width: 55%;
  }

  .contacts__soc-link{
    width: 60px;
    height: 60px;
    background-size: 100%;
  }

  .contacts__soc-element{
    margin-right: 30px;
  }

  .editions__slider{
    max-width: 630px;
  }

  .swiper5-wrap{
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .slider5 {
    height: 125px;
  }

  .editions__content{
    padding-top: 5px;
  }

  .editions__content__name{
    max-width: 70%;
  }

  .editions__content__price{
    width: 30%;
    text-align: right;
  }

  .event__img{
    height: 281px;
  }

  .event__container{
    padding-left: 11%;
    padding-top: 14px;
  }

  .event__container__date{
    padding-right: 3%;
  }

  .event__show{
    margin-bottom: 5%;
  }

  .event__element{
    min-height: 683px;
  }

  .event__list{
    margin-bottom: 22px;
  }

  .catalog__list-view{
    max-height: 415px;
    padding-top: 25px;
    padding-bottom: 30px;
    overflow: scroll;
  }

  .catalog__age-li{
    margin-right: 13%;
  }

  .accordion-header{
    padding-bottom: 46px;
  }
  
  .catalog__content{
    margin-right: 5%;
    width: 50%;
  }

  .catalog__title-text{
    flex-basis: 100%;
    margin-bottom: 36px;
  }

  .gallery__filter{
    width: 310px;
    margin-right: 5%;
  }

  .swiper2-slide-custom{
    height: 280px;
  }

  .gallery__filter-bottom{
    width: 275px;
  }

  .gallery__bottom__text{
    line-height: 30px;
  }

  .slider2{
    min-height: 673px;
  }

  .gallery{
    min-height: 840px;
  }

  .choices{
    width: 280px;
  }

  .slider1{
    min-height: 781px;
  }

  .slider__block-text__title{
    max-width: 590px;
    letter-spacing: 2.1px;
    font-size: 71px;
  }

  .slider__block-text__text{
    margin-bottom: 110px;
  }

  .slider__block-text__link{
    letter-spacing: 0.1px;
  }
  
  .bottom{
    display: none;
  }

  .slider__block-text__wrap{
    max-width: 655px;
  }

  .slider__block-text{
    margin: 214px auto 0;
  }

  .search-mob{
    display: flex;
    margin-left: 0;
    width: 30px;
    padding-top: 4px;
    transition: width 0.4s ease;
  }

  .search-svg{
    width: 30px;
    height: 30px;
  }

  .logo__img{
    width: 188px;
  }

  .search__text{
    width: 0;
    transition: width 0.4s ease;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
  }

  .menu-button-mob{
    display: flex;
  }

  .top-wrap{
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    padding-top: 30px;
  }

  .menu-container{
    height: 100vh;
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    transform: translateX(-3000px);
    padding-left: 50px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.4s ease;
  }

  .menu-wrap__link{
    font-size: 24px;
  }

  .menu-container_active{
    transform: translateX(0);
  }

  .menu-wrap{
    flex-direction: column;
  }

  .menu-wrap__element{
    margin-bottom: 7%;
  }

  .account-wrap__link{
    display: inline-block;
    padding: 20px 88px 20px 108px;
    font-size: 18px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .account{
    margin-left: 0;
  }

  .account-wrap__link::before {
    left: 80px;
  }
  
  .menu-close-mob{
    position: relative;
    display: flex;
    top: 50px;
    left: 0;
    cursor: pointer;
  }

  .line-close{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 3px;
    width: 37px;
    background-color: #ffffff;
  }

  .line-close:first-child{
    transform: rotate(140deg);
  }

  .line-close:last-child{
    transform: rotate(-140deg);
  }

  .menu{
    padding-top: 120px;
  }

  .search::before{
    width: 0;
    transition: width 0.4s ease;
  }

  .search-mob_active{
    width: 260px;
    background-color: #18171B;
  }

  .search-mob_active::before{
    width: 215px;
    left: 45px;
  }

  .search__button{
    padding-top: 0;
  }

  .search__text_active{
    width: 215px;
  }

  .menu-closeSearch-mob{
    display: none;
  }
}

@media screen and (max-width: 840px){
  .projact{
    margin-bottom: 83px;
  }

  .contacts__map{
    width: 47%;
  }

  .contacts__form{
    width: 47%;
  }

  .projact__text{
    margin-bottom: 27px;
  }

  .slider5 {
    height: 106px;
  }

  .projact-part__title {
    margin-bottom: 35px;
  }

  .projact__title {
    margin-bottom: 25px;
  }

  .editions__content__subtitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slider4-container{
    position: relative;
  }

  .editions__list{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    max-height: 115px;
    margin-bottom: 35px;
  }

  .editions__praice-range{
    margin-bottom: 18px;
  }

  .editions__slider{
    max-width: 620px;
    margin-left: 0;
  }

  .editions__subtitle{
    margin-bottom: 16px;
  }

  .editions__element:nth-child(4n){
    margin-bottom: 0;
  }

  .editions__filter{
    margin-bottom: 33px;
    width: auto;
  }

  .editions__content__button{
    padding: 8px 20px;
  }

  .editions__prev{
    left: 0;
  }

  .editions__next{
    right: 0px;
  }

  .slider4{
    height: 520px;
    padding-top: 10px;
    transform: translateX(27px);
  }

  .edit-wrap{
    padding-top: 0;
    left: 0;
    position: relative;
    margin-bottom: 20px;
  }

  .editions__content{
    padding-top: 9px;
  }

  .event__list{
    margin-bottom: 30px;
  }

  .editions__wrap{
    padding-bottom: 0;
    flex-direction: column;
  }

  .event__element:not(:nth-child(-n+2)){
    display: none;
  }

  .event__element:nth-child(3n){
    margin-right: 6%;
  }

  .event__element:nth-child(2n){
    margin-right: 0;
  }

  .event__element{
    width: 47%;
    margin-right: 6%;
  }

  .event__container__link {
    margin-bottom: 13%;
  }

  .catalog__title-wrap{
    padding-bottom: 75px;
  }

  .catalog__list-view{
    padding-bottom: 23px;
  }

  .catalog__age-li{
    margin-right: 7%;
  }

  .about{
    padding-bottom: 37px;
  }

  .slider__block-text__text{
    margin-bottom: 107px;
  }

  .catalog__title-text{
    margin-bottom: 20px;
  }
  
  .catalog__list-view{
    max-height: 300px;
  }

  .catalog__lists{
    width: 100%;
    margin-bottom: 40px;
  }

  .accordion-header{
    padding-bottom: 48px;
  }

  .catalog__content-wrap{
    flex-wrap: wrap;
  }

  .catalog__button-wrap{
    margin-right: 0;
  }

  .catalog__buttons{
    flex-basis: 68%;
    justify-content: space-between;
  }

  .catalog__content {
    order: 2;
    width: 100%;
    margin-right: 0;
  }

  .gallery{
    min-height: 1168px;
  }

  .gallery__bottom__text{
    letter-spacing: 0.8px;
  }

  .slider2{
    margin-bottom: 30px;
  }

  .gallery__slider{
    max-width: 900px;
    width: 100%;
  }

  .gallery__filter-bottom{
    display: none;
  }

  .gallery__filter-bottomMob{
    display: block;
  }

  .gallery__filter{
    margin-bottom: 84px;
  }

  .gallery-wrap{
    flex-direction: column;
  }

  .search__text_active{
    width: 100%;
  }

  .slider1{
    min-height: 768px;
  }

  .search-mob{
    transition: width 0.4s ease, left 0.4s ease;
  }

  .search-mob_active{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color: #000000;
  }

  .top{
    min-height: 100px;
  }

  .menu-closeSearch-mob{
    position: relative;
    display: none;
    top: -10px;
    transform: translateY(50%);
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .line-closeSearch{
    position: absolute;
    left: -4px;
    top: 50%;
    display: block;
    height: 3px;
    width: 37px;
    background-color: #ffffff;
  }

  .line-closeSearch:first-child{
    transform: rotate(-140deg);
  }

  .line-closeSearch:last-child{
    transform: rotate(140deg);
  }

  .menu-closeSearch-mob_active{
    display: flex;
  }

  .search-mob_active::before{
    width: 60%;
    left: 97px;
  }
}

@media screen and (max-width: 660px){
  .container-footer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__soc-element {
    margin-right: 0;
  }

  .footer__soc-list {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
  }

  .footer .logo{
    order: 2;
  }

  .footer{
    padding-top: 20px;
  }

  .footer__soc-link {
    width: 52px;
    height: 52px;
  }

  .contacts-request__title{
    font-size: 18px;
    font-weight: 400;
  }
  
  .contacts__title{
    font-size: 48px;
  }

  .contacts__form{
    padding-left: 50px;
    width: 100%;
    padding-top: 0;
    padding-right: 50px;
    height: 100%;
    padding-bottom: 15px;
  }

  .contacts_map{
    height: 320px;
  }

  .contacts{
    padding-left: 0;
  }

  .contacts__map{
    width: 100%;
    top: 53px;
  }

  .contacts__name{
    font-size: 18px;
    margin-bottom: 0;
  }

  .contacts__address{
    font-size: 14px;
    margin-bottom: 315px;
  }

  .contacts-request__buttom{
    font-size: 12px;
    max-width: 128px;
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .contacts__soc-title{
    font-size: 18px;
  }

  .contacts-request {
    margin-bottom: 26px;
  }

  .contacts__soc-link {
    width: 43px;
  }

  .editions__content__price{
    display: none;
  }

  .editions__content__name{
    max-width: 100%;
  }

  .editions__content__price-mob{
    display: block;
    text-align: left;
    margin-left: 0;
    width: auto;
  }

  .editions__wrap{
    padding-top: 53px;
  }

  .editions__subtitle::after{
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    background-image: url('../image/editions_arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  .editions__title{
    margin-bottom: 15px;
    font-size: 28px;
  }

  .editions__name-filter:before{
    left: 2px;
    top: 5px;
  }

  .editions__list{
    z-index: 10;
    max-height: fit-content;
    flex-wrap: nowrap;
    top: 87px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
  }

  .contacts .container-wrap{
    padding-left: 50px;
  }

  .editions__group-filter{
    width: 100%;
    display: block;
  }

  .editions__filter{
    position: relative;
    margin-bottom: 21px;
  }

  .editions__name-filter:after{
    left: 6px;
    top: 8px;
  }

  .editions__subtitle_active:after{
    transform: translateY(-50%) rotate(180deg);
  }

  .editions__price{
    padding-top: 12px;
  }

  .edit-wrap{
    display: none;
  }
  
  .editions__subtitle{
    position: relative;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .editions__element{
    position: relative;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    display: none;
  }

  .editions__element_show{
    display: flex;
  }

  .edition__close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .edition__close span{
    background-color: #C283F3;
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    display: block;
  }

  .edition__close span:first-child{
    transform: rotate(45deg);
  }

  .edition__close span:last-child{
    transform: rotate(-45deg);
  }

  .editions__element:nth-child(4n) {
    margin-bottom: 14px;
  }

  .swiper4-slide-custom{
    margin-right: 5%;
    max-width: 130px;
    height: auto;
    margin-bottom: 51px;
  }

  .edit-wrap{
    display: none;
  }

  .editions__swiper-wrapper{
    position: static;
    flex-wrap: wrap;
  }

  .slider4{
    transform: translateX(0);
    overflow: visible;
    height: auto;
  }

  .event__img{
    max-width: inherit;
  }

  .event__list,
  .event__button{
    display: none;
  }

  .event__title{
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 0;
  }

  .event__container__title{
    width: 92%;
  }

  .event__container{
    padding-left: 9%;
  }

  .event__container__link{
    margin-bottom: 22%;
  }

  .catalog__title-wrap{
    padding-bottom: 37px;
  }

  .event__list-mob{
    margin-bottom: 0;
    display: block;
  }

  .slider3-pag{
    position: relative;
    bottom: -10px !important;
  }

  .slider3-pag .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
  }

  .slider3-wrapper{
    position: relative;
    height: 95%;
    left: 0;
    top: 0;
  }

  .slider3{
    height: 720px;
  }

  .event__element{
    margin: 0 !important;
    width: 100%;
  }

  .event__element:not(:nth-child(-n+2)){
    display: flex;
  }

  .catalog__buttons{
    flex-basis: 100%;
  }

  .catalog__list-view{
    max-height: 450px;
  }

  .about__title{
    margin-bottom: 14px;
    font-size: 28px;
  }
  
  .about__text{
    font-size: 14px;
    line-height: 28px;
  }

  .about{
    padding-top: 53px;
  }

  .slider__block-text__title{
    font-size: 46px;
  }

  .slider__block-text__text{
    font-size: 16px;
    font-weight: 400;
  }

  .slider__block-text__wrap{
    text-align: center;
  }

  .editions__content__title{
    font-size: 12px;
  }

  .editions__content__subtitle{
    font-size: 12px;
    margin-bottom: 3px;
  }

  .editions__content__button{
    font-size: 12px;
    padding: 11px 35px;
    cursor: pointer;
  }

  .editions__content__price{
    font-size: 12px;
    margin-bottom: 13px;
    font-style: italic;
  }

  .editions__content{
    flex-direction: column;
    padding-top: 6px;
  }

  .projact__title{
    padding-top: 53px;
  }
}

@media screen and (max-width: 450px){
  .contacts__title{
    font-size: 28px;
  }

  .contacts__form{
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts .container-wrap{
    padding-left: 50px;
  }

  .projact-part__title{
    margin-bottom: 16px;
    font-size: 18px;
  }

  .slider5 {
    height: 64px;
  }

  .projact-prev, .projact-next{
    top: 60%;
  }

  .projact__text{
    margin-bottom: 17px;
  }

  .projact{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 53px;
  }

  .projact__title{
    font-size: 28px;
    margin-bottom: 16px;
  }

  .swiper4-slide-custom{
    margin-right: 10%;
  }

  .swiper4-slide-custom:nth-child(2n){
    margin-right: 0;
  }

  .event{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 42px;
  }

  .editions {
    padding-left: 15px;
    padding-right: 15px;
  }

  .catalog__accordion .ui-accordion-header-icon{
    width: 30px;
    height: 30px;
    top: 24px;
    right: 6px;
    background-size: 15px;
  }

  .catalog__lists{
    margin-bottom: 50px;
  }

  .catalog__img{
    margin-bottom: 16px;
  }

  .catalog__content-title{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 18px;
  }

  .catalog__text{
    letter-spacing: 0.25px;
  }

  .catalog__list-view{
    padding-top: 18px;
    max-height: none;
  }

  .accordion-header{
    padding-bottom: 26px;
    padding-top: 27px;
  }
  .catalog__buttons{
    margin-bottom: 22px;
  }
  .catalog__button{
    width: 44px;
    height: 44px;
  }
  
  .catalog{
    padding-left: 15px;
    padding-right: 10px;
  }

  .catalog__title-text{
    display: none;
  }

  .accordion-header{
    font-weight: 600;
    font-size: 18px;
  }

  .catalog__link{
    font-size: 16px;
  }

  .catalog__button-img{
    width: 32px;
    height: 32px;
  }

  .catalog__title{
    font-weight: normal;
    font-size: 28px;
  }

  .swip-wrap{
    display: none;
  }

  .swip-wrap_mob{
    display: flex;
    order: 2;
    justify-content: center;
    margin-bottom: 5px;
  }

  .slider2{
    display: flex;
    flex-direction: column;
    min-height: 440px;
    margin-bottom: 0;
  }

  .gallery__swiper-wrapper{
    position: relative;
  }

  .modal-content{
    flex-direction: column;
  }

  .swiper2-slide-custom{
    height: 367px;
  }

  .gallery__filter{
    max-width: 290px;
    margin-bottom: 115px;
  }

  .choices{
    width: 94%;
  }

  .gallery{
    min-height: 960px;
    padding-left: 15px;
    padding-right: 10px;
  }

  .gallery__filter-about{
    margin-bottom: 8px;
  }

  .gallery-wrap{
    padding-top: 52px;
  }

  .gallery__filter-title{
    font-size: 28px;
  }

  .about{
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 5px;
  }

  .slider__block-text__title{
    margin-bottom: 15px;
    font-size: 32px;
  }

  .slider__block-text__text{
    margin-bottom: 54px;
    font-size: 12px;
    line-height: 16px;
  }

  .slider1{
    min-height: 355px;
  }

  .slider__block-text__link{
    padding: 11px 16px 14px 19px;
    font-size: 12px;
  }

  .slider__block-text{
    padding-left: 15px;
    padding-right: 20px;
  }

  .slider__block-text{
    margin: 80px auto 0;
  }

  .search-mob_active{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .logo__img{
    width: 100px;
  }

  .top{
    min-height: 45px;
  }

  .search__text{
    display: none;
  }

  .search__text_active{
    display: block;
  }

  .top-wrap{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .line-burger{
    display: block;
    height: 2px;
    margin-bottom: 4px;
  }

  .line-burger:nth-child(1){
    width: 20px;
  }

  .line-burger:nth-child(2){
    width: 15px;
  }

  .line-burger:nth-child(3){
    width: 10px;
  }

  .search-svg{
    width: 16px;
    height: 16px;
  }

  .line-closeSearch{
    height: 2px;
    width: 20px;
  }

  .search-mob_active{
    padding-top: 40px;
    min-height: 75px;
  }

  .search-mob_active::before{
    left: 85px;
  }

  .search__button{
    padding-top: 5px;
  }

  .menu-closeSearch-mob{
    width: 15px;
    height: 15px;
  }

  .menu-wrap__link{
    font-size: 16px;
  }

  .account-wrap__link{
    padding: 10px 30px 10px 45px;
    font-size: 12px;
  }

  .account-wrap__link::before {
    left: 24px;
  }

  .menu-close-mob {
    top: 25px;
  }

  .menu-container{
    padding-left: 10px;
  }
  
  .menu {
    padding-top: 50px;
  }

  .edit-wrap{
    display: none;
  }
}