/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@keyframes zoom{
  0%{
   transform: scale(1);
  }

  100%{
    transform: scale(1.2);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --HeaderFooter-color: #000000;
  --HeaderFooter-textColor: #ffffff;
  --select-color: #7943A4;
  --hover-color: #C283F3;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

.visually-hidden {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
}

.menu-wrap__link{
  padding: 2px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  font-weight: 600;
  transition: color 0.4s ease;
}

.menu-wrap__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.menu-wrap__link:hover{
  color: var(--hover-color);
}

.menu-wrap__link:active{
  color: var(--select-color)
}

.account-wrap__link{
  position: relative;
  padding-left: 25px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  font-weight: 600;
  transition: color 0.4s ease;
}

.account-wrap__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.account-wrap__link::before{
  position: absolute;
  left: 6px;
  width: 15px;
  height: 15px;
  transition: filter 0.4s ease;
}

.account-wrap__link:hover{
  color: var(--hover-color);
}

.account-wrap__link:hover::before{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.account-wrap__link:active{
  color: var(--select-color);
}

.account-wrap__link:active::before{
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.header{
  position: absolute;
  z-index: 2;
  width: 100%;
}

.swiper-slide{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide-active{
  animation: zoom alternate 5s linear infinite;
}

.swipre-slide__one{
  background-image: url('../image/slider_one.png');
}

.swipre-slide__two{
  background-image: url('../image/slider_two.png');
}

.swipre-slide__three{
  background-image: url('../image/slider_three.png');
}

.block-text__title{
  margin-bottom: 20px;
  font-size: 75px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
}

.block-text__text{
  margin-bottom: 97px;
  line-height: 27px;
  font-size: 19px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
}

.block-text__link{
  position: relative;
  display: inline-block;
  padding: 22px 35px;
  font-size: 18px;
  color: var(--HeaderFooter-textColor);
  font-weight: 700;
  background-color: #9D5CD0;
  border-radius: 100px;
  border: 3px solid transparent;
  transition: border 0.4s ease;
  outline: none;
}

.block-text__link:before{
  opacity: 0;
  position: absolute;
  content: '';
  box-sizing: unset;
  left: -7px;
  top: -7px;
  width: 100%;
  height: 100%;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 4px;
  border: 2px solid #C283F3;
  border-radius: 100px;
}

.block-text__link:focus:before{
  opacity: 1;
}

.block-text__link:hover{
  border: 3px solid #D1A9F0;
}

.swiper__block-text{
  position: relative;
  z-index: 2;
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 240px auto 0;
  box-sizing: content-box;
}

.block-text__wrap{
  max-width: 597px;
}

.swiper-wrapper{
  position: absolute;
}

.swiper-container{
  min-height: 800px;
}

.swiper-slide{
  min-height: 800px;
}

.category-menu__link{
  position: relative;
  padding-right: 18px;
  color: var(--HeaderFooter-textColor);
  font-size: 18px;
  transition: color 0.4s ease;
}

.category-menu__link:focus{
  border: 2px solid var(--select-color);
  outline: none;
}

.category-menu__link:hover{
  color: var(--hover-color);
}

.category-menu__link:hover::after{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.category-menu__link:active::after{
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.category-menu__link:active{
  color: var(--select-color);
}

.top{
  background-color: var(--HeaderFooter-color);
}

.top-wrap{
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__link{
  display: block;
  padding: 2px;
  border: 2px solid transparent 
}

.logo__link:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.bottom{
  background-color: rgba(0, 0, 0, 0.4);
}

.bottom-wrap{
  display: flex;
  max-width: 1600px;
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 13px;
}

.menu-wrap{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.category-menu{
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
}

.menu-wrap__element{
  margin-right: 58px;
}

.menu-wrap__element:last-child{
  margin-right: 0;
}

.logo{
  margin-right: 170px;
}

.account{
  margin-left: auto;
}

.category-menu__item{
  position: relative;
  margin-right: 100px;
}

.category-menu__item:last-child{
  margin-right: 0;
}

.search{
  position: relative;
  display: flex;
  width: 250px;
  margin-left: auto;
  align-items: end;
}

.search_fill{
  transition: fill 0.4s ease;
}

.search:hover .search_fill{
  fill: var(--hover-color);
}

.search:hover::before{
  background-color: var(--hover-color);
} 

.account-entry::before{
  content: url(../image/entry.svg);
}

.category-menu__link::after{
  content: url('../image/arrow.svg');
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  transition: filter 0.4s ease, transform 0.4s ease;
}

.category-menu__link.category-menu__link_active::after{
  transform: rotate(180deg) translateY(-60%);
}

.search__button{
  padding: 3px;
  margin-right: 7px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.search__button:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.search__text{
  position: relative;
  width: 222px;
  padding-bottom: 5px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--HeaderFooter-textColor);
  border: 2px solid transparent;
}

.search::before{
  content: '';
  position: absolute;
  bottom: 8px;
  left: 38px;
  height: 2px;
  width: 212px;
  background-color: #ffffff;
  transition: background-color 0.4s ease;
}

.search__text:focus{
  outline: none;
  border: 2px solid var(--select-color);
}

.search__text::placeholder{
  font-size: 18px;
  color: var(--HeaderFooter-textColor);
}

.drop-menu{
  position: absolute;
  bottom: 0;
  transform: translateY(108.5%) translateX(-2000px);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  min-width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
}

.drop-menu__wrap{
  height: 220px;
  overflow: scroll;
}

.drop-menu__link{
  position: relative;
  display: block;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 10px;
  color: var(--HeaderFooter-textColor);
  font-size: 14px;
  border: 2px solid transparent;
  transition: border 0.4s ease;
}

.drop-menu__link:active + .drop-menu__img{
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.drop-menu__link:hover{
  border: 2px solid var(--hover-color);
}

.category-menu__link_active + .drop-menu{
  transform: translateY(108.5%) translateX(0);
}

.drop-menu__item{
  position: relative;
  max-width: 220px;
  margin-bottom: 20px;
}

.drop-menu__item:last-child{
  margin-bottom: 0;
}

.simplebar-scrollbar::before{
  background-color: #ffffff;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity: 1;
}

.simplebar-vertical{
  background-color: #000000;
}

.simplebar-track.simplebar-vertical{
  width: 2px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
  width: 2px;
}

.simplebar-scrollbar:before {
  left: 0px;
  opacity: 1;
}

.drop-menu__img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.line-burger{
  display: block;
  height: 3px;
  margin-bottom: 9px;
  background-color: #ffffff;
}

.line-burger:nth-child(1){
  width: 36px;
}

.line-burger:nth-child(2){
  width: 28px;
}

.line-burger:nth-child(3){
  width: 24px;
  margin-bottom: 0;;
}

.menu-button-mob{
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.search-mob{
  display: none;
}

.menu-container{
  display: flex;
  width: 100%;
}

.menu-close-mob{
  display: none;
}

.block-wrap{
  max-width: 1600px;
  margin: 0 auto;
}

.about__title{
  margin-bottom: 22px;
  font-size: 48px;
  font-weight: 400;
}

.about__text{
  max-width: 1085px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

.about{
  box-sizing: content-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 85px;
  padding-bottom: 70px;
}

@media screen and (max-width: 1500px){
  .swiper-container{
    min-height: 768px;
  }

  .block-text__title{
    max-width: 590px;
    letter-spacing: 2.1px;
    font-size: 71px;
  }

  .block-text__text{
    margin-bottom: 133px;
  }

  .block-text__link{
    letter-spacing: 0.1px;
  }
  
  .bottom{
    display: none;
  }

  .block-text__wrap{
    max-width: 655px;
  }

  .swiper__block-text{
    margin: 214px auto 0;
  }

  .search-mob{
    display: flex;
    margin-left: 0;
    width: 30px;
    padding-top: 4px;
    transition: width 0.4s ease;
  }

  .search-svg{
    width: 30px;
    height: 30px;
  }

  .logo__img{
    width: 188px;
  }

  .search__text{
    width: 0;
    transition: width 0.4s ease;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
  }

  .menu-button-mob{
    display: flex;
  }

  .top-wrap{
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    padding-top: 30px;
  }

  .menu-container{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-3000px);
    height: auto;
    padding-left: 50px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.4s ease;
  }

  .menu-wrap__link{
    font-size: 24px;
  }

  .menu-container_active{
    transform: translateX(0);
  }

  .menu-wrap{
    flex-direction: column;
  }

  .menu-wrap__element{
    margin-bottom: 7%;
  }

  .account-wrap__link{
    display: inline-block;
    padding: 20px 88px 20px 108px;
    font-size: 18px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .account{
    margin-left: 0;
  }

  .account-wrap__link::before {
    left: 80px;
  }
  
  .menu-close-mob{
    position: relative;
    display: flex;
    top: 50px;
    left: 0;
    cursor: pointer;
  }

  .line-close{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 3px;
    width: 37px;
    background-color: #ffffff;
  }

  .line-close:first-child{
    transform: rotate(140deg);
  }

  .line-close:last-child{
    transform: rotate(-140deg);
  }

  .menu{
    padding-top: 120px;
  }

  .search::before{
    width: 0;
    transition: width 0.4s ease;
  }

  .search-mob_active{
    width: 260px;
    background-color: #18171B;
  }

  .search-mob_active::before{
    width: 215px;
    left: 45px;
  }

  .search__button{
    padding-top: 0;
  }

  .search__text_active{
    width: 215px;
  }

  .menu-closeSearch-mob{
    display: none;
  }
}

@media screen and (max-width: 840px){
  .search__text_active{
    width: 100%;
  }

  .swiper-container{
    min-height: 768px;
  }

  .search-mob{
    transition: width 0.4s ease, left 0.4s ease;
  }

  .search-mob_active{
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    background-color: #000000;
  }

  .top{
    min-height: 100px;
  }

  .menu-closeSearch-mob{
    position: relative;
    display: none;
    top: -10px;
    transform: translateY(50%);
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .line-closeSearch{
    position: absolute;
    left: -4px;
    top: 50%;
    display: block;
    height: 3px;
    width: 37px;
    background-color: #ffffff;
  }

  .line-closeSearch:first-child{
    transform: rotate(-140deg);
  }

  .line-closeSearch:last-child{
    transform: rotate(140deg);
  }

  .menu-closeSearch-mob_active{
    display: flex;
  }

  .search-mob_active::before{
    width: 60%;
    left: 97px;
  }
}

@media screen and (max-width: 660px){
  .about__title{
    margin-bottom: 14px;
    font-size: 28px;
  }
  
  .about__text{
    font-size: 14px;
    line-height: 28px;
  }

  .about{
    padding-top: 53px;
  }

  .block-text__title{
    font-size: 46px;
  }

  .block-text__text{
    font-size: 16px;
    font-weight: 400;
  }

  .block-text__wrap{
    text-align: center;
  }
}

@media screen and (max-width: 450px){
  .about{
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 5px;
  }

  .block-text__title{
    margin-bottom: 15px;
    font-size: 32px;
  }

  .block-text__text{
    margin-bottom: 54px;
    font-size: 12px;
    line-height: 16px;
  }

  .swiper-container{
    min-height: 355px;
  }

  .block-text__link{
    padding: 11px 16px 14px 19px;
    font-size: 12px;
  }

  .swiper__block-text{
    padding-left: 15px;
    padding-right: 20px;
  }

  .swiper__block-text{
    margin: 80px auto 0;
  }

  .search-mob_active{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
  }

  .logo__img{
    width: 100px;
  }

  .top{
    min-height: 45px;
  }

  .search__text{
    display: none;
  }

  .search__text_active{
    display: block;
  }

  .top-wrap{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .line-burger{
    display: block;
    height: 2px;
    margin-bottom: 4px;
  }

  .line-burger:nth-child(1){
    width: 20px;
  }

  .line-burger:nth-child(2){
    width: 15px;
  }

  .line-burger:nth-child(3){
    width: 10px;
  }

  .search-svg{
    width: 16px;
    height: 16px;
  }

  .line-closeSearch{
    height: 2px;
    width: 20px;
  }

  .search-mob_active{
    padding-top: 40px;
    min-height: 75px;
  }

  .search-mob_active::before{
    left: 85px;
  }

  .search__button{
    padding-top: 5px;
  }

  .menu-closeSearch-mob{
    width: 15px;
    height: 15px;
  }

  .menu-wrap__link{
    font-size: 16px;
  }

  .account-wrap__link{
    padding: 10px 30px 10px 45px;
    font-size: 12px;
  }

  .account-wrap__link::before {
    left: 24px;
  }

  .menu-close-mob {
    top: 25px;
  }

  .menu-container{
    padding-left: 10px;
  }
  
  .menu {
    padding-top: 50px;
  }
}